<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GitHub suite">
    <!--<test name="GitHub Test">-->
        <!--<classes>-->
            <!--<class name="com.epam.github.tests.GitHubBddLoginTest" />-->
        <!--</classes>-->
    <!--</test>-->

    <!-- enable option below to stick to packages for test execution -->
    <!--<test name="GithubTestViaCucumberAndTestNG">-->
        <!--<packages>-->
            <!--<package name="com..epam.github.tests" />-->
        <!--</packages>-->
    <!--</test>-->
    <test name="GithubTestViaCucumberAndTestNG">
        <classes>
            <class name="com.epam.github.tests.GitHubBddLoginTest" />
        </classes>
    </test>
</suite>