<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GitHub suite">
    <!--<test name="GitHub Test">-->
        <!--<classes>-->
            <!--<class name="com.epam.github.tests.GitHubBddLoginTest" />-->
        <!--</classes>-->
    <!--</test>-->
    <test name="GithubTestViaCucumberAndTestNG">
        <classes>
            <class name="com.epam.github.tests.GitHubBddLoginTest" />
        </classes>
    </test>
</suite>